body {
  margin: 0;
  color: #333333;
}

.header_bg {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(background1.jpg);
  background-size: cover;
}

.header_text {
  text-align: center;
  font-size: 60px;
  color: white;
  font-weight: bold;
}

main {
  width: 80%;
  background: skyblue;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.profile {
  margin: 30px 0;
  padding: 20px 0;
  background:rgb(200, 200, 200)
}

.profile > h1 {
  text-align: center;
}

.pf_contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 20px 100px;
  background: blue;
}

.pf_contents > img {
  background: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 50%;
  background: pink;
}

.pf_contents > p {
  background: lightpink;
}

.contains {
  margin: 30px 0;
  padding: 20px 0;
  background: green;
}

.contains > h1 {
  text-align: center;
}

.works {
  margin: ;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  background: lightgreen;
}

.works > section {
  flex: 1;
  padding: 18px;
  background: tomato;
}

.works > section  > img {
  display: block;
  margin: 0 auto;
  background: lemonchiffon;
}

.works > section > a > img {
  display: block;
  margin: 0 auto;
  background: yellow;
}

.works > section > p {
  background: yellowgreen;
}

.works_a {
  text-align: center;
}

.works_a > a {
  text-decoration: none;
}

.form {
  margin: 30px auto;
  padding: 20px 0;
  background: purple;
}

.form > h1 {
  text-align: center;
}

.form_container {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form_container > img {
  background: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 50%;
}

.form_link {
  width: 250px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
}

.form_link > a {
  display: block;
  text-decoration: none;
}

footer {
  background: #333;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

small {
  color: #aaa;
}