body {
  margin: 0;
  color: #333333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header_bg {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../pictures/background.jpg);
  background-size: cover;
  background-position: center 0;
}

.header_text {
  text-align: center;
  font-size: 60px;
  color: white;
  font-weight: bold;
}

main {
  width: 80%;
  margin: 50px auto 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.profile {
  margin: 30px 0;
  padding: 20px 0;
}

h1 {
  text-align: center;
  font-size: 30px;
}

.pf_contents {
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
  padding: 10px 100px;
}

.pf_contents > img {
  background: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 50%;
}

.contains {
  margin: 30px 0;
  padding: 20px 0;
}

.works {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.work {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 18px;
}

#subWork {
  order: 1;
}

.work > img {
  display: block;
  margin: 0 auto;
}

.work > a > img {
  display: block;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-weight: normal;
}

.description > ul {
  margin: 30px 0;
  list-style-type: square;
}

.works_a {
  text-align: center;
}

.works_a > a {
  text-decoration: none;
  color: #1558d6;
}

.form {
  margin: 30px auto;
  padding: 20px 0 0;
}

.form > h1 {
  text-align: center;
}

.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form_container > img {
  background: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 50%;
}

.form_link {
  width: 250px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
}

.form_link > a {
  display: block;
  text-decoration: none;
  color: #1558d6;
}

footer {
  background: #333;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

small {
  color: #aaa;
}

@media (max-width: 1000px) {
  .pf_contents {
    flex-direction: column;
  }   

  .works {
    flex-direction: column-reverse;
  }

  .work {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  #subWork {
    order: 0;
  }

  .work:nth-child(even) {
    flex-direction: row-reverse;
  }
}

@media (max-width: 700px) {
  .pf_contents {
    padding: 20px;
  }

  .work {
    flex-direction: column;
    margin-bottom: 20px;;
  }
  
  .work:nth-child(even) {
    flex-direction: column;
  }

  .form_container {
    flex-direction: column;
    padding: 20px 0;
  }
}